input.xsd-g-year,
input.xsd-decimal,
input.xsd-integer {
    width: 100%;
}
.o-icon-rdf-html:before {
    /* Unavailable in the default config of Omeka. */
    /* content: "\f13b"; */
    content: "\f121";
}
.o-icon-rdf-xml-literal:before {
    content: "\f121";
}
.o-icon-xsd-boolean:before {
    content: "\f00c";
}
.o-icon-xsd-g-day:before,
.o-icon-xsd-g-month:before,
.o-icon-xsd-g-month-day:before,
.o-icon-xsd-g-year:before,
.o-icon-xsd-g-year-month:before,
.o-icon-xsd-date:before {
    content: "\f073";
}
.o-icon-xsd-date-time:before {
    content: "\f073";
}
.o-icon-xsd-decimal:before {
    content: "\f3d1";
}
.o-icon-xsd-integer:before {
    content: "\f292";
}
.o-icon-xsd-time:before {
    content: "\f017";
}

.inputs .cke_textarea_inline {
    resize: vertical;
    line-height: 1.5;
    background-color: #fff;
    min-width: 0;
}
.inputs .value .cke_textarea_inline {
    width: 100%;
    margin: 0;
}
.inputs .value a.value-language ~ .cke_textarea_inline {
    padding-left: 42px;
}
.inputs input[type="text"].value-language.active.active ~ .cke_textarea_inline {
    padding-left: 6px;
    border-top: 0;
}
